
/* Body and Structure */

body {
  background-color: #FFF;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Karla', arial, sans-serif;
  font-weight:400;
  text-align: center;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.main-container {
  width: 100%;
}

/* Navigation */

#a-team {
  display:none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}
.navbar span {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

/* Change nav background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.logo-top{
  background:url(./img/header_bg.jpg) repeat-x;
  text-shadow:
  -2px -1px 0 black,
  1px -2px 0 black,
  -2px 1px 0 black,
  1px 2px 0 black;
padding: 90px 0px 60px 0px;
}
.logo-top h2{
  color:white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
font-size: 1.5em;
margin: 0;
padding: 0;
}

.anchor::before {
  content:"";
  display:block;
  height:30px; /* fixed header height*/
  margin:-30px 0 0; /* negative fixed header height */
}

/* Headers */
#logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
}

h2 {
  text-align: center;
}

/* Team Section */

.team-container article {
  background:#032e4d;
  margin: 10px;
  border-radius:5px;
  color: #fff;
  padding: 10px 3px;
}

.circular-border-size{
   border-radius: 50%;
   height: 160px ;
     width : 160px ;
 }

 .team-container h3 {
   font-size:1.30em;
 }

/* Contact Form */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#email {
  width: 100%; !important;
}
#message{
  width: 100%; !important;
}
#name{
  width: 100%; !important;
}

#gford


#gform { display:none;}
#no-js-message { display:block;
text-align:center;}

/*
============================
    THIS IS TABLET!!!!!!
============================
*/
@media only screen and (min-width: 601px) {
  .team-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

#a-team {
    display:inline;
  }

#logo {
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    position: relative;
  }

  #logo span{
    font-size: 250px;

  }
  #name{

  width: 50%;
  margin-left: 25%
  }

  #email{
  width: 50%;
  margin-left: 25%
  }

  #message{
  width: 50%;
  margin-left: 25%
  }

  .navbar span {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/*
============================
    THIS IS DESKTOP!!!!!!
============================
*/

@media only screen and (min-width: 1001px) {
  .team-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
